<html>
<head>
</head>
<body>
 <img>
<div style="background-image: url('https://images.unsplash.com/photo-1601297132048-941b5a1f84a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80');"> 
  <div class="row header">
    <h1><center>HEART HEALTH MONITORING SYSTEM - RISK PREDICTION&nbsp;</h1></center>
    <h3>Fill out the patient credentials to learn more!</h3>
  </div>
  <div class="row body">
    <form action="#">
      <ul>
	  <p style="text-align:justify">
            <label for="first_name">Age</label>
            <input type="text" name="age" placeholder="age"/><br></br>
            <label for="first_name">Are you aneamic? </label>
            <input type="text" name="anaemia" placeholder="sex"/>
        <br></br>
            <label for="first_name">Creatine Phosphokinase Level</label>
            <input type="text" name="creatinine_phosphokinase" placeholder="cp" /><br></br>
            <label for="first_name">Are you diabetic?</label>
            <input type="text" name="diabetes" placeholder="trestbps" /><br></br>
         
            <label for="first_name">Ejection Fraction</label>
            <input type="text" name="ejection_fraction" placeholder="chol" /><br></br>
         
		 
            <label for="first_name">Do you have high blood pressure?</label>
            <input type="text" name="high_blood_pressure" placeholder="fbs" /><br></br>
         
		  
            <label for="first_name">Platelets count </label>
            <input type="text" name="platelets" placeholder="restecg"/><br></br>
          
		  
            <label for="first_name">Serum Creatine Level </label>
            <input type="text" name="serum_creatinine"placeholder="thalach"/><br></br>
          
		  
            <label for="first_name">Serum Sodium Level</label>
            <input type="text" name="serum_sodium" placeholder="exang"><br></br>
          
		 
            <label for="first_name">Sex</label>
            <input type="text" name="sex" placeholder="oldpeak"/><br></br>
         
		  
            <label for="first_name">Do you smoke? </label>
            <input type="text" name="smoking" placeholder="slope"/><br></br>
			<input value="20" placeholder="ca"/>
			
	         <center><input class="btn btn-submit" type="submit" value="Predict" /></center>
        </p>
      </ul>
    </form> 
    	
  </div>
  <br></br>
  <br></br><br></br>
</div>
</body>
</html>
